/* Awal copian style */
/* Overlay */
/* css Overlay/ Lightboxnya */
/* overlay adlah keadaan awalnya, sebelum memunculkan lightbox */
.overlay { 
    /* w, h overflow hidden buat sembunyikan gambar */
    /* w dan h harus di cantumkan nilai satuannya
    ternyata tidak harus pakai satuan */
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
      
    z-index: 9999;
    /* position non statis yang mengjadikan 
    elementnya stagnan apapun yang terjadi */
   
    /* tag2 ini akan menjadikan 
        halamannya tertag penuh(halaman=parentnya)*/
    /* transition: .8s; */
    background-color: rgba(0,0,0,0);
    text-align: center;
   
}
/*css Overlay keadaan akhir */ 
/* pseudoclass target 
memungkinkan link memunculkan perubahan(Lightbox) setelah di klik */
.overlay:target {
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);  
    width: auto;
    height: auto;
    padding: 50px;
}
.overlay .full {
    max-height: 100%;
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,.5);
    border: 5px solid whitesmoke;
}
.overlay:target .full {
    animation: fadeajah 1s;
    /* berarti di kondisi ini animasi zoomdanfade sdah tidak digunakan lagi  */

}

.overlay .close {
    background-image: url(../img/close.png);
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    text-decoration: none;
    color: whitesmoke;
    /* background-color: black; */
    /* border: 1px solid white; */
    border-radius: 5px;
    /* nampak seperti ada padding padahal tidak ada */
    /* itu adalah line-height, maka kita reset aja */
   
    line-height: 15px; 
    padding: 14px;
    /* close di awal harusnya nggak ada dulu */
    opacity: 0;
    /* background-color: #cecece; */
    
}
.overlay:target .close {
    animation: slidedownfade 1s .5s forwards;
}
.drop-shadow {
    filter: drop-shadow(2px 2px 2px black);
}

.overlay:target .next{
    animation: fadeajah 1s .5s forwards;
    /* perhatikan kondisiawal di kodingannya harus sesuai kondisi 0% di animationnya  */
}
.overlay:target .prev {
    animation: fadeajah 1s .7s forwards;
    /* perhatikan kondisiawal di kodingannya harus sesuai kondisi 0% di animationnya */
}
.next, .prev {
    width: 50px;
    height: 45px;
    background-image: url(../img/next.png);
    position: absolute;
    top: 45%;
    margin-left: 50px;
    opacity: 0;

}
.prev {
    background-image: url(../img/prev.png);
    margin-left: -100px;
}



/* animasi */
/* setelah selesai animasi dia akan kembali ke keadaan awal */
@keyframes fadeajah {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes zoomdanfade {
    /* dari tidak ada */
    0% {
        transform: scale(0);
        opacity: 0;
    }
    /* muncul normal */
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slidedownfade {
    0% {
        opacity : 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
/* akhir kopian style */
